site_name: Social Network Analysis Project
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            rendering:
              show_signature: true
              show_source: true

nav:
  - Start: index.md
  - Usage: usage.md
  - Tests: tests.md
  - Data: data.md
  - Workflows: workflows.md
  - Requirements: requirements.md

copyright: |
  &copy; 2025 <a href="https://github.com/TropDog/Grafy" target="_blank" rel="noopener">Baron.Pustelnik.Chmiel</a>
